<div class="talk card" href="{{ talk.url }}">
  <div class="row">
    <div class="large-6 columns">
      <a class="talk" href="{{ talk.url }}">
        <img src="{{ talk.lead_image }}" class="talk--leadimage">
      </a>
    </div>
    <div class="large-6 columns">
      <a href="{{ talk.url }}" class="talk--meta">
        <p class="talk--date">{{ talk.date | date: '%B %d, %Y' }}
        <h4 class="talk--title">{{ talk.title }}</h4>
        <p class="talk--description">{{talk.blurb}}</p>
      </a>
    </div>
  </div>
</div>