---
layout: default
title: eylerwerve.com
redirect_from: /foo/
---
<div class="home">

  <div class="home--background">
    <div class="home--background__1 homeprimary"></div>
    <div class="home--background__2 homesecondary"></div>
  </div>
  <div class="homewrapper">

    <div class="homeprimary">
      <div class="row">
        <div class="large-9 columns">
          <div class="homeprimary--main">
            <h3>Hello, world. My name is</h3>
            <h1>Jonathan Eyler-Werve</h1>
            <h3>I design digital products,<br> and I lead software teams.</h3>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="homeprimary--sidebar">
            <a class="button hollow expanded" href="/jonathan">Product Design</a>
            <a class="button hollow expanded" href="/blog">Writing</a>
            <a class="button hollow expanded" href="/talks">Talks</a>
            <a class="button hollow expanded" href="/jonathan/#contact">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class="homesecondary">

      <div class="row">

        {% for talk in site.talks %}
        {% if talk.homepage == true %}

        <div class="large-6 columns">
            <a class="talk" href="{{ talk.url }}">
              <img src="{{ talk.lead_image }}" class="talk--leadimage">
            </a>
        </div>
        <div class="large-6 columns">
            <a href="{{ talk.url }}" class="talk--meta">
              <p class="talk--date caption">
                <span class="_gray">SOME NEW STUFF</span> </p>
              <h4 class="talk--title">{{ talk.title }}</h4>
              <p class="talk--description caption">{{talk.blurb}}</p>
            </a>
        </div>

        {% endif %}
        {% endfor %}

      </div>
    </div>

  </div>
</div>